{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>MyTaxi</title>
    <link rel="icon" href="../static/images/iconlogo.png" type="image/icon type">
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
</head>

<body>

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="#">
            <span>
              MyTaxi
            </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about-page' %}"> About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'news-page' %}"> News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact-page' %}">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login-page' %}">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
<<<<<<< HEAD
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7 ">
            <div class="box">
              <div class="detail-box">
                <h4>
                  Welcome to
                </h4>
                <h1>
                  Uzbekistan Taxi
                </h1>
              </div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <div class="img-box">
                      <img src="../static/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="../static/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="../static/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="../static/images/slider-img.png" alt="">
=======
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 ">
                    <div class="box">
                        <div class="detail-box">
                            <h4>
                                Welcome to
                            </h4>
                            <h1>
                                Uzbekistan Taxi Service
                            </h1>
                        </div>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-box">
                            <a href="" class="btn-1">
                                Read More
                            </a>
                        </div>
>>>>>>> 326a37bc928bbb2928f3b50f12e93a0589e5853a
                    </div>
                </div>
<<<<<<< HEAD
              </div>

              <div class="btn-box">
                <a href="" class="btn-1">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 ">
            <div class="slider_form">
              <h4>
                Get A Taxi Now
              </h4>
              <form action="">
                <input type="text" placeholder="Car type">
                <input type="text" placeholder="Pick Up Location">
                <input type="text" placeholder="Drop Location">
                <div class="btm_input">
                  <input type="text" placeholder="Your Phone Number">
                  <button>Book Now</button>
=======
                <div class="col-lg-4 col-md-5 ">
                    <div class="slider_form">
                        <h4>
                            Get A Taxi Now
                        </h4>
                        <form method="POST">{% csrf_token %}
                            <input type="text" name="order_car_type" placeholder="Car Type">
                            <input type="text" name="pick_up_location" placeholder="Pick Up Location">
                            <input type="text" name="drop_location" placeholder="Drop Location">
                            <div class="btm_input">
                                <input type="text" name="client_phone_number" placeholder="Your Phone Number">
                                <button>Book Now</button>
                            </div>
                        </form>
                        {#              <form action="">#}
                        {#                <input type="text" placeholder="Car Type">#}
                        {#                <input type="text" placeholder="Pick Up Location">#}
                        {#                <input type="text" placeholder="Drop Location">#}
                        {#                <div class="btm_input">#}
                        {#                  <input type="text" placeholder="Your Phone Number">#}
                        {#                  <button>Book Now</button>#}
                        {#                </div>#}
                        {#              </form>#}
                    </div>
>>>>>>> 326a37bc928bbb2928f3b50f12e93a0589e5853a
                </div>
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
                <div class="detail-box">
                    <h2>
                        About <br>
                        Taxi Company
                    </h2>
                    <p>
                        Taxi Company means any person or entity operating one or more vehicles for hire, other than as a
                        driver, regardless of the legal form of the entity and regardless of whether the taxis so
                        operated are owned by the company, or leased, or owned by individual members of an entity. Taxi
                        Companies do not include TNCs.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../static/images/about-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->


<!-- news section -->

<section class="news_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our <br>
                News
            </h2>
        </div>
        <div class="news_container">
            <div class="box">
                <div class="date-box">
                    <h6>
                        01 Nov 2019
                    </h6>
                </div>
                <div class="img-box">
                    <img src="../static/images/news-img.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        MyTaxi
                        <news></news>
                    </h6>
                    <p>
                        MyTaxi is an online platform to book taxi on-demand in Uzbekistan. Taximeter calculates the fare
                        price and the provides the receipt via the app. User can track the location of the car on the
                        map. User is required to rate the journey, which affects the overall score of the driver. The
                        app is available for both iOS and Android platform.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="date-box">
                    <h6>
                        01 Nov 2019
                    </h6>
                </div>
                <div class="img-box">
                    <img src="../static/images/news-img.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        MyTaxi news
                    </h6>
                    <p>
                        MyTaxi is an online platform to book taxi on-demand in Uzbekistan. Taximeter calculates the fare
                        price and the provides the receipt via the app. User can track the location of the car on the
                        map. User is required to rate the journey, which affects the overall score of the driver. The
                        app is available for both iOS and Android platform.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="date-box">
                    <h6>
                        01 Nov 2019
                    </h6>
                </div>
                <div class="img-box">
                    <img src="../static/images/news-img.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        MyTaxi news
                    </h6>
                    <p>
                        MyTaxi is an online platform to book taxi on-demand in Uzbekistan. Taximeter calculates the fare
                        price and the provides the receipt via the app. User can track the location of the car on the
                        map. User is required to rate the journey, which affects the overall score of the driver. The
                        app is available for both iOS and Android platform.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end news section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                What <br>
                Client <br>
                Says
            </h2>
        </div>
        <div class="client_container">
            <div class="carousel-wrap ">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="../static/images/client-1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h3>
                                    Aliqua
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et amet, consectetur adipiscing
                                </p>
                                <img src="../static/images/quote.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="../static/images/client-2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h3>
                                    Liqua
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et amet, consectetur adipiscing
                                </p>
                                <img src="../static/images/quote.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->

<!-- contact section -->

<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Any Problems <br>
                Any Questions
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5  offset-md-1">
                <div class="contact_form">
                    <h4>
                        Get In touch
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone Number">
                        <input type="text" placeholder="Message" class="message_input">
                        <button>Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="../static/images/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->

<!-- app section -->

<section class="app_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        Download Our app
                    </h2>
                    <div class="text-box">
                        <h5>
                            details
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when distribution of letters
                        </p>
                    </div>
                    <div class="text-box">
                        <h5>
                            How it works
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when distribution of letters
                        </p>
                    </div>
                    <div class="btn-box">
                        <a href="">
                            <img src="../static/images/playstore.png" alt="">
                        </a>
                        <a href="">
                            <img src="../static/images/appstore.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../static/images/mytaxiandroid.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end app section -->

<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Why <br>
                Choose Us
            </h2>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="img-box">
                    <img src="../static/images/delivery-man-white.png" alt="" class="img-1">
                    <img src="../static/images/delivery-man-black.png" alt="" class="img-2">
                </div>
                <div class="detail-box">
                    <h5>
                        Best Drivers
                    </h5>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="../static/images/shield-white.png" alt="" class="img-1">
                    <img src="../static/images/shield-black.png" alt="" class="img-2">
                </div>
                <div class="detail-box">
                    <h5>
                        Safe and Secure
                    </h5>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="../static/images/repairing-service-white.png" alt="" class="img-1">
                    <img src="../static/images/repairing-service-black.png" alt="" class="img-2">
                </div>
                <div class="detail-box">
                    <h5>
                        24x7 support
                    </h5>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why section -->

<!-- info section -->

<section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
        <div class="box">
            <div class="info_form">
                <h4>
                    Subscribe Our Newsletter
                </h4>
                <form action="">
                    <input type="text" placeholder="Enter your email">
                    <div class="d-flex justify-content-end">
                        <button>

                        </button>
                    </div>
                </form>
            </div>
            <div class="info_links">
                <ul>
                    <li class=" ">
                        <a class="" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="{% url 'about-page' %}"> About</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="{% url 'news-page' %}"> News</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="{% url 'contact-page' %}">Contact Us</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="{% url 'login-page' %}">Login</a>
                    </li>
                </ul>
            </div>
            <div class="info_social">
                <div>
                    <a href="https://www.facebook.com/asilbek.mirolimov.37/" target="_blank">
                        <img src="../static/images/fb.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://t.me/asilbekmirolimov" target="_blank">
                        <img src="../static/images/telegram.svg" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/asilbek-mirolimov-874a8921a/" target="_blank">
                        <img src="../static/images/linkedin.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/mirolimov.1/" target="_blank">
                        <img src="../static/images/instagram.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- end info section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <div class="container">
        <p>
            &copy; 2022 Asilbek Mirolimov
        </p>
    </div>
</section>
<!-- footer section -->

<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{#<script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>#}
{#<script type="text/javascript" src="../static/js/bootstrap.js"></script>#}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>


<!-- owl carousel script -->
<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        navText: [],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            1000: {
                items: 2
            }
        }
    });
</script>
<!-- end owl carousel script -->

</body>

</html>