<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MyTaxi</title>


  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home-page' %}">
            <span>
              MyTaxi
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about-page' %}"> About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#"> News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact-page' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login-page' %}">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- news section -->

  <section class="news_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our <br>
          News
        </h2>
      </div>
      <div class="news_container">
        <div class="box">
          <div class="date-box">
            <h6>
              01 July 2022
            </h6>
          </div>
          <div class="img-box">
            <img src="../static/images/news-img.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              MyTaxi news
            </h6>
            <p>
                MyTaxi is an online platform to book taxi on-demand in Uzbekistan. Taximeter calculates the fare price and the provides the receipt via the app. User can track the location of the car on the map. User is required to rate the journey, which affects the overall score of the driver. The app is available for both iOS and Android platform.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="date-box">
            <h6>
              01 July 2022
            </h6>
          </div>
          <div class="img-box">
            <img src="../static/images/news-img.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              MyTaxi news
            </h6>
            <p>
                MyTaxi is an online platform to book taxi on-demand in Uzbekistan. Taximeter calculates the fare price and the provides the receipt via the app. User can track the location of the car on the map. User is required to rate the journey, which affects the overall score of the driver. The app is available for both iOS and Android platform.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="date-box">
            <h6>
              01 July 2022
            </h6>
          </div>
          <div class="img-box">
            <img src="../static/images/news-img.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              MyTaxi news
            </h6>
            <p>
                MyTaxi is an online platform to book taxi on-demand in Uzbekistan. Taximeter calculates the fare price and the provides the receipt via the app. User can track the location of the car on the map. User is required to rate the journey, which affects the overall score of the driver. The app is available for both iOS and Android platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end news section -->


  <!-- info section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box">
        <div class="info_form">
          <h4>
            Subscribe Our Newsletter
          </h4>
          <form action="">
            <input type="text" placeholder="Enter your email">
            <div class="d-flex justify-content-end">
              <button>

              </button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="" href="{% url 'home-page' %}">Home <span class="sr-only"></span></a>
            </li>
            <li class="">
              <a class="nav-link" href="{%  url 'about-page' %}"> About</a>
            </li>
            <li class="">
              <a class="nav-link" href="#"> News</a>
            </li>
            <li class="">
              <a class="nav-link" href="{% url 'contact-page' %}">Contact Us</a>
            </li>
            <li class="">
              <a class="nav-link" href="{% url 'login-page' %}">Login</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="https://www.facebook.com/asilbek.mirolimov.37/">
              <img src="../static/images/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="https://t.me/asilbekmirolimov">
              <img src="../static/images/telegram.svg" alt="">
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/asilbek-mirolimov-874a8921a/">
              <img src="../static/images/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/mirolimov.1/">
              <img src="../static/images/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; 2021 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>


  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 20,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>